.box {
  border: 1px solid black;
  margin-left: 30%;
  margin-top: 20%;
  width: 40%;
}

.register-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.registerLabel {
  margin: 20px 0 0;
}

.registerInput {
  height: 20px;
}

.registesBtn {
  border: 1px solid black;
  cursor: pointer;
  height: 30px;
  margin-top: 20px;
  width: 70%;
}

.registesBtn:last-child {
  margin-bottom: 20px;
}
